# Compiled files
*.o
*.gch

# Temporary files made by SimGrid
smpitmp-*

# Vim files
.*.swp
.*.swo

# Haskell
*.hi
.stack-work/

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

# Mac
.DS_Store

# MATLAB
*.asv
